<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Your Budget Buddy</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">
    <link href="/public/css/style.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Your personal finance friend</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Your Budget Buddy</a>
        <a class="nav-link" href="#">Dashboard</a>
        <a class="nav-link" href="#">Login</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <img src="/public/images/HandHouseMoney.jpg" alt="Hand holding house and money">
    <h1 class="cover-heading">Your Budget Buddy.</h1>
    <p class="lead">Your personal finance friend.</p>

  {{ body }}
  
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p> ©2021 Javier, Norma, Kelly and Sarah </p>
    </div>
  </footer>
</div>
</body>
</html>
