 <link href="/public/css/style.css" rel="stylesheet">

<body>

<h2>Add Expense</h2>
<div>
  <div>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Expense Name</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Amount</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Descrption</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <p>
    <select id="select1">
      <option value="1">Living Expenses</option>
      <option value="2">Entertainment</option>
      <option value="3">Debt</option>
      <option value="4">Misc.</option>
    </select>
  </p>
</div>

<script src="./js/addExpense.js"></script>

</body>