 <link href="/public/css/style.css" rel="stylesheet">

<h2>Add Expense</h2>
<div>
  <div>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Expense</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Amount</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/addExpense.js"></script>