<body>
<h1>My Budget Buddy</h1>
<section>
    <h3>Welcome to your Budget Buddy! Here you can view and track all of your finances coming out of your paycheck...or allowance if you still live at home with your parents.
    </h3>
</section>    
</body>
</html>