<div class="media">
  <img src="/public/images/HandHouseMoney.jpg" class="align-self-center mr-3" alt="My Budget Buddy">
  <div class="media-body">
    <h5 class="mt-0">My Budget Buddy</h5>
    Your personal finance friend
  </div>
</div>