<div>
        <h1>Your Budget Buddy</h1>
        <p class="lead">Your personal finance friend.</p>
        {{name}}
        <img src="/public/images/HandHouseMoney.jpg" alt="Hand holding house and money">
      </div>