.navbar {
    background-color: rgb(57, 55, 156);
    font-color: tan;
}

main {
    display: block;
}

body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

element.style {
    left: 0px;
    margin-left: 0px;
    width: 100%;
    min-width: 988px;
    position: absolute;
    top: 71px;
    height: 598px;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
