.navbar {
    background-color: rgb(66, 64, 184) !important;
    color: rgb(236, 208, 172) !important;
}

main {
    display: block;
}

body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

element.style {
    left: 0px;
    margin-left: 0px;
    width: 100%;
    min-width: 988px;
    position: absolute;
    top: 71px;
    height: 598px;
}
