.navbar {
    background-color: rgb(66, 64, 184) !important;
    color: rgb(236, 208, 172) !important;
}



body {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: tan;
}

.card {
    display:inline-block;
}
.expense {
margin: 0.5rem;
}
footer {
    background-color: rgb(66, 64, 184) !important;
    color: rgb(236, 208, 172) !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}